{% extends 'pages/sidebar.html' %}
{% block content %}

{% load static %}
<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">

    <div class='card'>
      <div class="card-header">
        <h4 class="card-title">Deposit History</h4>
        <p class="card-title-desc">All Deposit History
        </p>
    </div>
        <div class="card-body">
          <div class='table-responsive'>
    <table id= 'test' class="table hover table-borderless dt-responsive nowrap w-100 table-striped-columns text-nowrap">
        <thead>
          <tr >
            <th scope="col">Username</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Datetime</th>
            <th scope='col'>Profile</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>         
            <td>{{i.user_id.username}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.currency}}</td>
            <td>{{i.address}}</td>
            {% if i.status == '0' %}
            <td>Pending</td>
            {% elif i.status == '1' %}
            <td>Completed</td>
            {% else %}
            <td> Canceled</td>
            {% endif %}
            <td>{{i.date}}</td>
            <td><a href='../../../admin/users/{{i.user_id.id}}' class="h4 text-secondary"><i class="fas fa-arrow-alt-circle-right text-primary"></i></a> </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
</div>

</div>
</div>
</div>


{% endblock %}