{% extends 'pages/sidebar.html' %}

{% block content %}

<style>
  .planname {
    background: -webkit-linear-gradient(#ded7d7, #2ab57d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
</style>

<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">

        <div class="card-header">
          <h4 class="card-title">Membership Plans</h4>
         
      </div>
      
        <div class="card">
            <div class="card-body">
                <div class='d-flex justify-content-between align-items-center'>
              
              <button class='btn bg-primary'  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Package</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <div class='d-flex justify-content-between align-items-center'>
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add Package</h1>
                 
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  
                </div>
              </div>
                <div class="modal-body row mb-3">


                  

                      <form action="../../../admin/packages" method="post">
                          {% csrf_token %}
                           
                          

                          <div class="mb-3">
                            <label class="form-label" for="formrow-firstname-input">Package Name</label>
                            <input type="text" class="form-control" id="formrow-firstname-input"  name='name'>
                        </div>
                          <div class='row'>
                            <div class='col-6'>
                          <div class="mb-3">
                              <label class="form-label" for="formrow-firstname-input">Min Investvemt</label>
                              <input type="number" class="form-control" id="formrow-firstname-input"  name='min'>
                          </div>
                        </div>
                        <div class='col-6'>
                          <div class="mb-3">
                            <label class="form-label" for="formrow-firstname-input">Max Investment</label>
                            <input type="number" class="form-control" id="formrow-firstname-input"  name='max'>
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-6'>
                        <div class="mb-3">
                          <label class="form-label" for="formrow-firstname-input">ROI per day (%)</label>
                          <input type="number" class="form-control" id="formrow-firstname-input"  name='roi'>
                      </div>
                    </div>
                    <div class='col-6'>
                      <div class="mb-3">
                        <label class="form-label" for="formrow-firstname-input">Overall ROI (%)</label>
                        <input type="number" class="form-control" id="formrow-firstname-input"  name='overall'>
                    </div>
                  </div>
                </div>
   
      
                          <div class="mt-4">
                              <button type="submit" class="btn btn-primary w-md" name='addpackage'>Submit</button>
                          </div>



                          </form>



                          
                </div>
          
              </div>
            </div>
          </div>

            </div>
         
                </div>
                <div class='card mt-2'>
                  <div class='card-body'>
                <div class='table-responsive'>
                 
              <table id ='test' class="table hover table-borderless dt-responsive nowrap w-100 table-striped-columns text-nowrapp">
                <thead>
                  <tr>
                    <th scope='col'>Plan Name</th>
                    
                    <th scope="col">Minimum Investment</th>
                    <th scope="col">Maximum Investment</th>
                    <th scope='col'>ROI per month</th>
                    <th scope="col">Overall ROI</th>
                    <th scope='col'>Action</th>
                    <th scope='col'>View</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in memberships %}
                  <tr>
                 
                    <td class='fw-bold planname'>{{i.name}}</td>
                    <td>$ {{i.min_amount}}</td>
                    {% if i.max_amount %}
                    <td>$ {{i.max_amount}}</td>
                    {% else %}
                    <td>Above</td>
                    {% endif %}
                    <td>{{i.roi}} %</td>
                    <td>{{i.overall_roi}} %</td>
                    <td> <button class='btn bg-primary'  data-bs-toggle="modal" data-bs-target="#edit{{i.id}}" title='edit'><i class=' fas fa-pencil'></i></button>
                        <div class="modal fade" id="edit{{i.id}}" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Service</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body row mb-3">
                                
                                            <form action="../../../admin/packages" method="post">
                                                {% csrf_token %}
                                                <input type="text" class="form-control " name="plan_id" hidden value="{{plan_name.id}}">
                                                <div class="mb-3">
                                                  <input type='text' hidden name='id' value="{{i.id}}">

                                                  <label class="form-label" for="formrow-firstname-input">Package Name</label>
                                                  <input type="text" class="form-control" id="formrow-firstname-input"  value="{{i.name}}" name='name'>
                                              </div>


                                              <div class='row'>
                                                <div class='col-6'>
                                              <div class="mb-3">
                                                  <label class="form-label" for="formrow-firstname-input">Min Investvemt</label>
                                                  <input type="number" class="form-control" id="formrow-firstname-input" value="{{i.min_amount}}"  name='min'>
                                              </div>
                                            </div>
                                            <div class='col-6'>
                                              <div class="mb-3">
                                                <label class="form-label" for="formrow-firstname-input">Max Investment (optional)</label>
                                                <input type="number" class="form-control" id="formrow-firstname-input" value="{{i.max_amount}}"  name='max'>
                                            </div>
                                          </div>
                                        </div>

                                        <div class='row'>
                                          <div class='col-6'>
                                            <div class="mb-3">
                                              <label class="form-label" for="formrow-firstname-input">ROI per day</label>
                                              <input type="number" class="form-control" id="formrow-firstname-input" value="{{i.roi}}" name='roi'>
                                          </div>
                                        </div>
                                        <div class='col-6'>
                                          <div class="mb-3">
                                            <label class="form-label" for="formrow-firstname-input">Overall ROI</label>
                                            <input type="number" class="form-control" id="formrow-firstname-input" value="{{i.overall_roi}}" name='overall'>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="mt-4">
                                      <button type="submit" class="btn btn-primary w-md" name='editpackage'>Submit</button>
                                  </div>

                                                </form>
                                      </div>
                                
                                    </div>
                                  </div>
                                    
                                      </div>

                                      <button class='btn bg-danger'  data-bs-toggle="modal" data-bs-target="#delete{{i.id}}" title='delete'><i class=" fas fa-trash-alt"></i></button>
                        <div class="modal fade" id="delete{{i.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Are You Sure To delete</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body row mb-3">
                                
                                            <form action="../../../admin/packages" method="post">
                                                {% csrf_token %}
                                                <div class="row mb-3 gap-1">
                                                    <div class="col-sm-10 w-100">
                                                      <input type="text" class="form-control " name="plan_id" hidden value="{{plan_name.id}}">
                                                        <input type="text" class="form-control " name="id" hidden value="{{i.id}}">
                                                      </div>
                                                    
                                                     <div class="row mb-3">
                                
                                                  <div class="col-sm-10">
                                                    <button type="submit" class="btn bg-danger" name="deletepackage">Delete</button>
                                                    <button type="submit" class="btn bg-primary" name="close" data-bs-dismiss="modal">Cancel</button>
                                                  </div>
                                                                                       
                                                </div>
                                                </form>
                                      </div>
                                
                                    </div>
                                  </div>
                                    
                                      </div>
                                      
                                    
                                    </td>
                                    <td><a href='../../../admin/packages/{{i.id}}'><i class=" fas fa-eye"></i></a></td>
                  </tr>
                  {% endfor %}
                
                </tbody>
              </table>
           
            </div>
          </div>
        </div>
              <!-- End Default Table Example -->
            </div>
          </div>


        </div>
      </div>
    </div>


{% endblock %}