{% extends 'pages/sidebar.html' %}
{% block content %}

{% load static %}
<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">

    <div class='card'>
      <div class="card-header">
        <h4 class="card-title">User Ranks</h4>
        <p class="card-title-desc">Ranks Achived by Users
        </p>
    </div>
        <div class="card-body">
          <div class='table-responsive'>
    <table id= 'test' class="table hover table-borderless dt-responsive nowrap w-100 table-striped-columns text-nowrap">
        <thead>
          <tr >
            <th scope="col">Username</th>
            <th scope="col">Rank Achived</th>
            <th scope='col'>Income</th>
            <th scope='col'>Reward</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
       
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>         
            <td class='fw-bold planname'>{{i.user_id.username}}</td>
            <td>{{ i.rank_id.rank }}</td>
            {% if i.rank_id.royality_income %}
            <td>$ {{i.income}}</td>
                    {% else%}
              <td>-</td>
                {% endif %}
              {% if i.rank_id.reward %}
                <td>{{i.reward_recieved}}</td>
                        {% else%}
                    <td>-</td>
                  {% endif %}
          
            <td>{{i.date|slice:"0:19"}}</td>
           <td>
            {% if i.status == '0' %}
            <span class="badge text-bg-danger p-2 rounded-pill w-50">Not Achived</span>
            {% elif i.status == '1' %}
            <span class="badge text-bg-warning p-2 rounded-pill w-50" >Claim</span>
            {% elif i.status == '2' %}
            <span class="badge text-bg-secondary p-2 rounded-pill w-50">In Process</span>
            {% elif i.status == '3' %}
            <span class="badge text-bg-success p-2 rounded-pill w-50">Achived</span>
              {% endif %}
           </td>

          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
</div>

</div>
</div>
</div>


{% endblock %}