{% extends 'userpages/form_component.html' %} 
{% block content %} 
{% load static %}


        <div class="col-12 p-3">
          {% if message %}
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script type="application/javascript">
            Swal.fire({
            position: 'center',
            icon: 'success',
            title: '{{message}}',
            showConfirmButton: false,
            timer: 1500
          });
        </script>
    
          {% endif %} {% if message1 %}
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script type="application/javascript">
            Swal.fire({
            position: 'center',
            icon: 'warning',
            title: '{{message1}}',
            showConfirmButton: false,
            timer: 1500
          });
        </script>
          {% endif %}
        </div>
        <div class="row mx-0 justify-content-around">
          <div class="col-lg-5 d-flex justify-content-center py-5 position-relative">
            <div class="position-absolute z-3 top-0">
              <img
                src="{% static 'assets/images/bg-asset/eclipse-2.jpg' %}"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="mt-5 text-center">
              <a href="../../../" class="d-block auth-logo mt-4">
                <img
                  src="{% static 'assets/images/logo/meta-logo.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </a>
              <h1 class="text-white text-opacity-75 my-3">Welcome Back</h1>
              <p class="text-white-50 mt-4">
                Welcome back to BST Meta! Let's get you back in the metaverse. Please enter your email to reset your password.
              </p>
            </div>
          </div>
          <div class="col-lg-5 col-md-7 col-12 m-lg-5 p-lg-4 px-md-0 py-md-5 px-0 py-5">
            <div class="form_bg m-lg-3 px-lg-5 px-4 shadow-lg py-4 rounded-5">
              <form class="needs-validation" novalidate method="post" action="../../../forgot">
                {% csrf_token %}
                <h1 class="text-white mt-4 fw-semibold">
                  Reset Password
                </h1>
  
                <div class="mt-4">
                  <label class="form-label mb-1 text-white">Email</label>
                  <input type="text" required class="form-control border-0 input py-2" name="email" id="email"
                    placeholder="Email" />
                  <div class="invalid-feedback">Please Enter Email</div>
                </div>
  
                <div class="d-grid mt-4 pt-2">
                  <button class="btn btn-primary border-0 waves-effect waves-light" type="submit">
                    Reset
                  </button>
                </div>
                <p class="text-white text-opacity-75 mt-3">
                  Remember It ?
                  <a href="../../../loginpage" class="text-decoration-none text-white">
                    Sign In
                  </a>
                </p>
                <div class="mt-4 pt-2">
                  <p class="mb-0 text-white text-opacity-75">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    BST Meta
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% endblock %}