{% extends 'userpages/sidebar.html' %} {% block content %} {% load static %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row pt-4">
        {% if m == 'False' %}

        <div class="col">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">You are not a premium member</h3>
                  <p class="card-text">Kindly buy our plan to become a premium member.</p>
                  <a href="../../../package" class="btn btn-primary waves-effect waves-light w-100">Buy Plan</a>
              </div>
          </div>
      </div>
        {% endif %}

        {% if popup %}
        
        <div class="col">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Your Package will expire soon</h3>
                  <p class="card-text">Re-Topup Your plan for more income growth</p>
                  <a href="../../../package" class="btn btn-primary waves-effect waves-light w-100">Re-Topup</a>
              </div>
          </div>
      </div>

        {% endif %}
        <div class="col-12">
         
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >

          
            <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

            <div class="page-title-right pt-3 overflow-auto my-3 d-block d-sm-none">
              <div class="bg-light border p-1 rounded-3" id="reffer">
                <div class="p-1">
                  <div class="d-flex">
                    <p class="my-auto font-w-500 tx-s-12">BSC</p>
                    <br />
                    <div
                      class="my-auto ml-auto pull-right"
                      style="text-align: right; clear: both; position: relative"
                    >
                      <span
                        class="px-1 cursor"
                        title="copy"
                        onclick="myFunction1()"
                      >
                        {{smart_contract.bscaddress}}
                      </span>
                    </div>
                    <input
                        type="text"
                        value="{{smart_contract.bscaddress}}"
                        id="myInput"
                        hidden
                      />
                      <i
                        class="fas fa-copy text-secondary fs-4 px-1 cursor"
                        title="copy"
                        onclick=myFunction1()
                      ></i>
                  </div>
                </div>
              </div>
            </div> 

            <div class="page-title-right ">
              <div class="bg-light border p-1 rounded-3" id="reffer">
                <div class="p-1">
                  <div class="d-md-flex">
                    <p class="my-auto font-w-500 tx-s-12">
                      Referral Link &nbsp;&nbsp;
                    </p>
                    <br />
                    <div
                      class="my-auto ml-auto pull-right"
                      style="text-align: right; clear: both; position: relative"
                    >
                      <span
                        class="px-1 cursor text-break"
                        title="copy"
                        onclick=myFunction()
                        >{{ref_link}}</span
                      >

                      <input
                        type="text"
                        value="{{ref_link}}"
                        id="myInput"
                        hidden
                      />
                      <i
                        class="fas fa-copy text-secondary fs-4 px-1 cursor"
                        title="copy"
                        onclick=myFunction()
                      ></i>

                      <a href="whatsapp://send?text={{ref_link}}"
                        ><i
                          class="fab fa-whatsapp text-secondary fs-4 px-1"
                          title="whatsapp"
                        ></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->

            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Current Package Amount</span>
                    <h4 class="mb-1">
                      <span class="text-success">$</span>
                      <span
                        class="counter-value text-success"
                        id="earn"
                        data-target="{{current_package_amount|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>

                  <div class="col-6">
                    <div
                      id="mini-chart1"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">D.S.I Bonus</span>
                    <h4 class="mb-1">
                      <span class="text-success">$</span>
                      <span
                        class="counter-value text-success"
                        data-target="{{total_farming_roi|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart2"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col-->

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Direct Bonus</span>
                    <h4 class="mb-1">
                      <span class="text-success">$</span>
                      <span
                        class="counter-value text-success"
                        id="fixed"
                        data-target="{{refferal_income|floatformat:'2'}}"
                        >20</span
                      >
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart3"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Level Bonus</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw">$</span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{level_income|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart4"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->

            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">G.T.O </span>
                    <h4 class="mb-1">
                      <span class="text-success">$</span>
                      <span
                        class="counter-value text-success"
                        id="earn"
                        data-target="{{gto|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>

                  <div class="col-6">
                    <div
                      id="mini-chart5"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Reward Bonus</span>
                    <h4 class="mb-1">
                      <span class="text-success">$ </span>
                      <span
                        class="counter-value text-success"
                        id="stakingbal"
                        data-target="{{reward_income|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart6"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col-->

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Active Team</span>
                    <h4 class="mb-1">
                      <span class="text-success"></span>
                      <span
                        class="counter-value text-success"
                        id="directref"
                        data-target="{{active_team}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart7"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">id's</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Non-Active Team</span>
                    <h4 class="mb-1">
                      <span
                        class="counter-value text-success"
                        data-target="{{non_active_team}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart8"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-warning font-size-13">Id's</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>

      <div class="row">
       
  


        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Total Team</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw"></span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{team}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart9"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">id's</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>


        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Total Team Business</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw">$</span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{total_team_business|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart10"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Total Earn</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw">$</span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{total_income|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart11"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Total Withdraw</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw">$</span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{total_withdrawls|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart12"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>


        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Overall Income</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw">$</span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{forx|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart13"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->


        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">DSI Income</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw">$</span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{roi_left|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart14"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->


        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Reward</span>
                    <h4 class="mb-1">
                      <span class="text-success" id="total_withdraw">$</span>
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{royality_reward|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart15"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">USDT</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->


        <div class="col-xl-3 col-md-6">
          <!-- card -->
          <div
            class="card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25"
          >
            <!-- card body -->
            <a href="#">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6">
                    <span class="mb-1 lh-1 d-block">Direct Refferals</span>
                    <h4 class="mb-1">
                      
                      <span
                        class="counter-value text-success"
                        id="total_withdraw"
                        data-target="{{refs|floatformat:'2'}}"
                      ></span>
                    </h4>
                  </div>
                  <div class="col-6">
                    <div
                      id="mini-chart16"
                      data-colors='["#5156be"]'
                      class="apex-charts mb-2"
                    ></div>
                  </div>
                </div>
                <div class="text-nowrap">
                  <span class="badge badge-soft-success font-size-13">Id's</span>
                </div>
              </div>
              <!-- end card body -->
            </a>
          </div>
          <!-- end card -->
        </div>

      </div>
     
    </div>

  <div class='row p-3'>
    <div class='col-12'>
    <div class='card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25'>
      <div class='card-header'>
        <div class='card-title'>Royality Rewards</div>
      </div>
      <div class='card-body'>
    <div class='table-responsive'>
      <table  class='table table-hover dt-responsive  w-100 text-nowrap'>
        <thead class='text-white'>
        <tr>
        <th>Rank</th>
        <th>Reward</th>
        <th>Business Required</th>
        <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in userrank %}
        <tr class=''>

          <td ><img src="{% static 'assets/images/rank/trophy-star.png' %}" class='me-2 ' width='30px'><span class='planname1 fw-bold'>{{i.rank.rank}}</span></td>
          <td class='fw-semibold text-white'>{{i.rank.income}} % per month</td>
          <td class='fw-semibold text-white'>$ {{i.rank.business_required}}</td>
          
          <td>{% if i.status == '0' %}
            <span class="badge badge-soft-danger p-2 rounded-pill ">Not Achived</span>
            {% elif i.status == '1' %}
            <a href='../../../rewards_claim/{{i.rank.id}}'><span class="badge badge-soft-warning p-2 rounded-pill " title='Click To Claim Reward'>Claim</span></a>
            {% elif i.status == '2' %}
            <span class="badge badge-soft-secondary p-2 rounded-pill ">In Process</span>
            {% elif i.status == '3' %}
            <span class="badge badge-soft-success p-2 rounded-pill ">Achived</span>
            {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
  

      <div class="row">
     

        <div class="col-xl-4">
          <div
            class="card bg-black bg-opacity-50 shadow-lg border border-white border-opacity-25 rounded-4"
          >
            <div class="card-header align-items-center d-flex rounded-4">
              <h4 class="card-title mb-0">ROI BONUS</h4>
         
            </div>
            <!-- end card header -->

            <div class="card-body px-0">
     
                  <div
                    class="table-responsive px-3"
                    data-simplebar
                    style="max-height: 352px"
                  >
                  {% if farming_roi %}
                    <table
                      class="table table-hover align-middle table-nowrap table-borderless"
                    >
                      <tbody>
                   
                        <tr>
                          {% for i in farming_roi %}

                          <td style="width: 50px">
                            <img src="{% static 'assets/images/rank/roi.png' %}" width='30px'>
                          </td>

                          <td>
                            <div>
                              <h5 class="font-size-14 mb-1">
                                {{i.plan_id.plan_id.name}} ({{i.plan_id.c_id.name}})

                              </h5>
                              <p id="date" class="text-muted mb-0 font-size-12">
                                {{i.date|slice:"0:19"}}
                              </p>
                            </div>
                          </td>

                          <td>
                            <div class="text-end">
                              <span class='badge badge-soft-success'>$ {{i.roi|floatformat:'2'}}</span>
                              
                            </div>
                          </td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    No data Found
                    {% endif %}
                  </div>
            
            </div>
            <!-- end card body -->
          </div>
          <!-- end card -->
        </div>


        <div class="col-xl-4">
          <div
            class="card bg-black bg-opacity-50 shadow-lg border border-white border-opacity-25 rounded-4"
          >
            <div class="card-header align-items-center d-flex rounded-4">
              <h4 class="card-title mb-0 ">LEVEL Bonus</h4>
   
            </div>
            <!-- end card header -->

            <div class="card-body px-0">
       
                  <div
                    class="table-responsive px-3"
                    data-simplebar
                    style="max-height: 352px"
                  >
                  
                    <table
                      class="table table-hover align-middle table-nowrap table-borderless"
                    >
                      <tbody>
                   
                        <tr>
                          {% for key,value in level_income_logs.items %}

                          <td style="width: 50px">
                           <img src="{% static 'assets/images/rank/coin.png' %}" width='20px'>
                          </td>

                          <td>
                            <div>
                              <h5 class="font-size-14 mb-1">
                               Level {{key}}
                              </h5>
                             
                            </div>
                          </td>

                          <td>
                            <div class="text-end">
                              <span class="badge badge-soft-success">$ {{value|floatformat:'4'}}</span>
                             
                            </div>
                          </td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                 
                  </div>
                </div>
             
              
            <!-- end card body -->
          </div>
          <!-- end card -->
        </div>
        
        <div class="col-xl-4">
          <div
            class="card bg-black bg-opacity-50 shadow-lg border border-white border-opacity-25 rounded-4"
          >
            <div class="card-header align-items-center d-flex rounded-4">
              <h4 class="card-title mb-0 ">TOP ACHIVERS</h4>
           
            </div>
            <!-- end card header -->

            <div class="card-body px-0">
       
                  <div
                    class="table-responsive px-3"
                    data-simplebar
                    style="height:100%"
                    
                  >
                  {% if topachivers %}
             
                    <table
                      class="table table-hover align-middle table-nowrap table-borderless"
                    >
                      <tbody>
                   
                        <tr>
                          {% for i in topachivers %}

                          <td style="width: 50px">
                            <img src="{% static 'assets/images/rank/badge.png' %}" width='20px'>
                          </td>

                          <td>
                            <div>
                              <h5 class="font-size-14 mb-1">
                                {{i.user_id.username}}
                              </h5>
                              <p id="date" class="text-muted mb-0 font-size-12">
                                {{i.date|slice:"0:19"}}
                              </p>
                            </div>
                          </td>

                          <td>
                            <div class="text-end">
                              <span class='badge badge-soft-success'> {{i.rank_id.rank}}</span>
                              <p class="text-white mb-0 font-size-12">{{i.reward_recieved}}</p>
                            </div>
                          </td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                    {% else %}
                    No data Found
                    {% endif %}
                  
                  </div>
              
             
            </div>
            <!-- end card body -->
          </div>
          <!-- end card -->
        </div>
      </div>



      <div class='row p-3'>
        <div class='col-12'>
        <div class='card card-h-100 bg-dark bg-opacity-25 shadow-lg border border-white border-opacity-25'>
          <div class='card-header d-flex justify-content-between align-items-center'>
            <div class='card-title'>Top-3 Leg Business</div>
            <p class='text-white'>Total Business : <span class='planname1'> ${{bus}}</span></p>
          </div>
          <div class='card-body'>
        <div class='table-responsive'>
          <table  class='table table-hover dt-responsive  w-100 text-nowrap'>
            <thead class='text-white'>
            <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Business</th>
            <th>Business Ratio</th>
            <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for i in legdata %}
            <tr class=''>
    
              <td ><span class='planname1 fw-bold'>{{i.user.username}}</span></td>
              <td class='fw-semibold text-white'>{{i.user.email}}</td>
              <td class='fw-semibold text-white'>$ {{i.business}}</td>
              <td class='fw-semibold text-white'>$ {{i.ratio}}</td>
              {% if i.user.status == '1' %}
              <td><span class='badge badge-soft-success'>Active</span></td>
              {% else %}
              <td><span class='badge badge-soft-danger'>Inactive</span></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    </div>


    </div>
  </div>
</div>



{% endblock %}
