<footer
data-aos="fade"
data-aos-duration="1000"
class="footer container-fluid px-0 bg-black pt-5 mt-5"
>
{% load static %}
<div class="container-xxl px-0">
  <div class="row mx-0 pb-5 px-lg-5 px-3">
    <div class="col-lg-4 col-md-6">
      <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
        <img
          src="{% static 'assets/images/logo/meta-logo.png' %}"
          width="180"
          alt="BST Meta"
        />
      </div>
      <p class="text-white text-opacity-75 pb-lg-3 mb-4">
        We make it easy to Discover, Invest and manage all your NFTs at
        one place.
      </p>
      <div class="d-flex gap-3">
        <a href="">
          <i class="fab fa-fw fa-facebook-square fs-2 social_icon"></i>
        </a>
        <a href="">
          <i class="fab fa-fw fa-linkedin-in fs-2 social_icon"></i>
        </a>
        <a href="">
          <i class="fab fa-fw fa-twitter fs-2 social_icon"></i>
        </a>
        <a href="">
          <i class="fab fa-fw fa-instagram fs-2 social_icon"></i>
        </a>
      </div>
    </div>
    <div
      class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0"
    >
      <div id="footer-links" class="row">
        <div class="col-lg col">
          <div
            id="useful-links"
            class="collapse d-lg-block"
            data-bs-parent="#footer-links"
          >
            <ul class="nav flex-column pb-lg-1 mb-lg-3">
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Eco System</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Packages</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >About us</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg col">
          <div
            id="social-links"
            class="collapse d-lg-block"
            data-bs-parent="#footer-links"
          >
            <ul class="nav flex-column pb-lg-1 mb-lg-3">
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Eco System</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Packages</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >About us</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg col">
          <div
            id="social-links"
            class="collapse d-lg-block"
            data-bs-parent="#footer-links"
          >
            <ul class="nav flex-column pb-lg-1 mb-lg-3">
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Eco System</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >Packages</a
                >
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link d-inline-block text-white px-0 pt-1 pb-2 footer_li"
                  >About us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="nav d-block fs-xs text-center p-3">
    <span class="text-white">© All rights reserved. Made by </span>
    <a class="nav-link d-inline-block primary-color p-0" href=" "
      >BST Meta</a
    >
  </p>
</div>
</footer>
