{% extends 'userpages/sidebar.html' %}

{% block content %}

{% load static %}
<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">
        <div class='card'>
            <div class="card-header">
                <h4 class="card-title">Rewards</h4>
               
            </div>
            <div class='card-body bg-dark'>

                <div class='table-responsive'>
                    <table id= 'test' class="table table-borderless dt-responsive nowrap w-100  text-nowrap">
                        <thead>
                          <tr >
                            <th scope="col">Rank</th>
                           
                            <th scope="col">Reward</th>
                            <th scope="col">Required Business</th>
                            <th scope='col'>Days</th>
                            <th scope='col'>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in userrank %}
                          <tr>         
                            <td class='fw-bold planname'>{{i.rank.rank}}</td>
                            <td class='text-white'>{{i.rank.income}} % per month</td>
                            <td class='text-white'>$ {{i.rank.business_required}}</td>
                            <td class='text-white'>{{i.rank.days}}</td>

                            <td>

                                {% if i.status == '0' %}
                                <span class="badge badge-soft-danger p-2 rounded-pill ">Not Achived</span>
                                {% elif i.status == '1' %}
                                <a href='../../../rewards_claim/{{i.rank.id}}'><span class="badge badge-soft-warning p-2 rounded-pill " title='Click To Claim Reward'>Claim</span></a>
                                {% elif i.status == '2' %}
                                <span class="badge badge-soft-secondary p-2 rounded-pill ">In Process</span>
                                {% elif i.status == '3' %}
                                <span class="badge badge-soft-success p-2 rounded-pill ">Achived</span>
                                {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                  </div>

</div>
</div>
</div>
</div>
</div>


{% endblock %}