{% extends 'userpages/sidebar.html' %} {% block content %} {% load static %}

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid pb-5 mb-5">
      <!-- start page title -->
      <div class="row pt-4">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0 font-size-18">Direct Members</h4>

    
          </div>
        </div>
      </div>
      <!-- end page title -->

      <!-- end row-->
      <div
        class="card rounded shadow-lg border border-white border-opacity-25 rounded-4 bg-dark bg-opacity-25 shadow-lg mb-5 pb-5"
      >
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="test"
              class="table hover table-borderless dt-responsive nowrap w-100 text-nowrap"
            >
              <thead>
                <tr>
                  <th><p class="text-white text-opacity-75 mb-0">Name</p></th>
                  <th>
                    <p class="text-white text-opacity-75 mb-0">Email</p>
                  </th>
                  <th>
                    <p class="text-white text-opacity-75 mb-0">
                      Refferal Income
                    </p>
                  </th>
                  <th><p class="text-white text-opacity-75 mb-0">Package Status</p></th>
                  <th>
                    <p class="text-white text-opacity-75 mb-0">Status</p>
                  </th>
                  <th>
                    <p class="text-white text-opacity-75 mb-0">Created at</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                {% for i in data %}
                <tr
                  {% comment %} data-bs-toggle="collapse"
                  data-bs-target="#demo{{i.parent_id.id}}"
                  class="accordion-toggle childItem"
                  data-pid="{{ i.parent_id.id }}"
                  data-id="{{ i.parent_id.id }}" {% endcomment %}
                >
                  <td class='fw-bold planname'>{{i.user.username}}</td>
                  <td class='text-white'>{{i.user.email}}</td>
                  <td class='text-white'>$ {{i.referral_income}}</td>
                  {% if i.user.paid_members == 'True' %}
                    <td><span class='badge text-white text-bg-success p-2 rounded-pill'>Active</span></td>
                   {% else %}
                   <td><span class='badge text-white text-bg-warning p-2 rounded-pill'>Inactive</span></td>
                   {% endif %}
                  
                  {% if i.user.status == '1' %}
                    <td><span class='badge text-white text-bg-success p-2 rounded-pill'>Active</span></td>
                   {% else %}
                   <td><span class='badge text-white text-bg-warning p-2 rounded-pill'>Inactive</span></td>
                   {% endif %}
                  <td class='text-white'>{{i.user.created_at|slice:"0:19"}}</td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>

<script>


 
  $(document.body).on("click", ".childItem", function () {
    var pid = $(this).attr("data-pid");

    var id = $(this).attr("data-id");
    var ref = $(this);

    console.log(pid);

    $.ajax({
      type: "GET",
      url: "../../../admin/get_refferal/" + `${pid}`,
      success: function (data) {
        var ar = [];
        var ar1 = [];

        if (data.status == 1) {
          $.each(data.data, function (key, data) {
            let v = `<tr data-bs-toggle="collapse" data-bs-target="#demo${data.parent_id.id}" class="accordion-toggle childItem" data-pid="${data.parent_id.id}" data-id="${data.parent_id.id}">
                        
                        <td>${data.parent_id.username}</td>
                        <td>${data.level_income}</td>
                        <td>${data.direct_ref_income}</td>
                        <td>${data.parent_id.email}</td>
                        <td>${data.parent_id.created_at}</td>
                        
                         
                     </tr>`;
            ar.push(v);
          });
          if ($(`#demo${id}`).length) {
            console.log("hello if part");

            $(`#collapseOne-${id}`).remove();
          } else {
            console.log("hello else part");
            $(`#collapseOne-${id}`).remove();
            let collapse = `
                      <tr class="accordian-body collapse show" id="demo${id}">
                        <td colspan="12" class="hiddenRow">
                          <div > 
                          <table  class="table hover table-borderless dt-responsive nowrap w-100  text-nowrap">
                                  <thead>
                                    <tr class="info">      
                                      <th>Name</th>
                                      <th>Level Income</th>
                                      <th>Refferal Income</th>
                                      <th>Email</th>
                                      <th>Created At</th>
                                    </tr>
                                  </thead>	
                                  ${ar.join("")}
                                  <tbody>
                                  </tbody>
                                </table>
                              </div>
                            </td>`;

            $(`#collapseOne-${id}`).remove();
            ref.after(collapse);
          }
        } else {
          if ($(`#collapseOne-${id}`).length) {
            ar.push(`<div>No team Yet</div>`);

            $(`#collapseOne-${id}`).remove();
          } else {
            ar.push(`<div>No team Yet</div>`);
            let collapse = ` <div id="collapseOne-${id}" class="accordion-collapse collapse show" data-bs-parent="#accordion-${id}">
              <div class="accordion-body">
                ${ar.join("")}
              </div>
            </div>`;
            console.log(ar);
            $(`#collapseOne-${id}`).remove();
            ref.after(collapse);
          }
        }
      },
      error: function () {},
    });
  });
</script>

{% endblock %}
