{% extends 'userpages/sidebar.html' %}

{% block content %}

  
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="card-header">
                <h4 class="card-title">Packages</h4>
                <p class="card-title-desc">User Current Package
                </p>
            </div>
            <div class="card">
                <div class="card-body bg-dark">
                    <div class='table-responsive'>
                        <table id ='test' class="table hover table-borderless dt-responsive nowrap w-100 table-striped-columns text-nowrapp">
                            <thead>
                              <tr>
                                <th scope='col'>Plan Name</th>
                                <th scope="col">Package Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Referral Commission </th>
                                <th scope="col">Date</th>
                                
                              </tr>
                            </thead>
                            {% for i in data %}
                            <tr>
                                <td class='text-white'>{{i.plan_name}}</td>
                                <td class='text-white'>{{i.name}}</td>
                                <td class='text-white'>{{i.amount}}</td>
                                <td class='text-white'>{{i.refferal_commision}}</td>
                                <td class='text-white'>{{i.date}}</td>
                            </tr>
                            {% endfor %}
                            <tbody>


                            </tbody>

                    </div>

                </div>
            </div>





        </div>
    </div>
</div>



{% endblock %}