{% extends 'userpages/sidebar.html' %}

{% block content %}


  {% load static %}
 


  <div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

  <div class="card bg-dark bg-opacity-25 border border-white shadow-lg border-opacity-25 rounded-4 mt-4 mb-5 pb-5">
    <div class="card-header rounded-4">
  
      <h4 class="card-title">Withdrawal History</h4>
      
      
 
  </div>
    <div class="card-body">
   
        <div class="table-responsive">
            <table
              id="incometable"
              class="table hover table-borderless dt-responsive nowrap w-100 text-nowrap"
            >
              <thead>
                <tr>
                  <th scope="col"><p class="text-white text-opacity-75 mb-0">Amount</p></th>
                  <th scope="col"><p class="text-white text-opacity-75 mb-0">Fees</p></th>
                  <th scope="col"><p class="text-white text-opacity-75 mb-0">Currency</p></th>
                  <th scope="col"><p class="text-white text-opacity-75 mb-0">Address</p></th>
                  <th scope="col"><p class="text-white text-opacity-75 mb-0">Status</p></th>
                  <th scope="col"><p class="text-white text-opacity-75 mb-0">Datetime</p></th>
                </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr>
                  <td>{{i.amount}}</td>
                  <td>{{i.fees}}</td>
                  <td>{{i.currency}}</td>
                  <td>{{i.address}}</td>
                  {% if i.status == '0' %}
                  <td>
                    <span
                      class="badge text-white text-bg-warning p-2 rounded-pill"
                      >Pending</span
                    >
                  </td>
                  {% elif i.status == '1' %}
                  <td>
                    <span
                      class="badge text-bg-success p-2 rounded-3"
                      >Completed</span
                    >
                  </td>
                  {% else %}
                  <td>
                    <span
                      class="badge text-bg-danger p-2 rounded-3"
                      >Canceled</span
                    >
                  </td>
                  {% endif %}
                  <td>{{i.date|slice:"0:19"}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</div>


</div>
</div>
</div>


{% endblock %}